{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">
        <h1>News App</h1>

        <div class="search-box">
            <input type="text" id="query" placeholder="Enter topic">
            <button onclick="fetchNews()">Get News</button>
        </div>

        <div id="news-container"></div>
    </div>

    <script>
        async function fetchNews() {
            const query = document.getElementById("query").value || "technology";
            const container = document.getElementById("news-container");
            container.innerHTML = "<p class='loading'>Loading...</p>";

            try {
                const res = await fetch(`/api/news/?q=${query}`);
                const data = await res.json();
                container.innerHTML = "";

                if (data.articles && data.articles.length > 0) {
                    data.articles.forEach((a, i) => {
                        const div = document.createElement("div");
                        div.className = "article";
                        div.innerHTML = `<b>${i+1}. ${a.title}</b><br>
                                         <a href="${a.url}" target="_blank">Read More</a>`;
                        container.appendChild(div);
                    });
                } else {
                    container.innerHTML = "<p class='error'>No articles found.</p>";
                }
            } catch (err) {
                container.innerHTML = `<p class='error'>Error: ${err}</p>`;
            }
        }
    </script>

</body>
</html>
